<style>
    .clase1{
        color:aqua;
        background-color: blue;
        display:inline;
    }

</style>
<h3>ngIf</h3>
<p *ngIf="isValid">directivas works!</p>
<p *ngIf="!isValid">directivas NO works!</p>

<p *ngIf="2+2 == 4">condicion computada</p>
<br/>
<div *ngIf="frutas.length then siFrutas else noFrutas">
</div>
<ng-template #siFrutas >
    Hay frutas: se mostrarar si hay frutas
</ng-template>
<ng-template #noFrutas>
    no frutas Se muestra si array vacio
</ng-template>
<div >
    lo mismo pero con la prop hidden.
    es mejor if porque no carga en la pag; depende del numero de elementos en total
</div>
<ng-template [hidden]="frutas.length > 0">
    Hay frutas: se mostrarar si hay frutas
</ng-template>
<ng-template [hidden]="frutas.length === 0">
    no frutas Se muestra si array vacio
</ng-template>
<br>
<h3>ngFor</h3>
<p>Agrega fruta a la lista:</p>
<button class="btn btn-secondary"
    (click)="agregarFrutaRandom()">+Fruta Random</button><br>
<p>
    <input type="text"
    size="15"
    placeholder="Nombre tu fruta"
    [(ngModel)]="tuFruta.nombre"/>
    <input type="number"
    size="5"
    placeholder="peso tu fruta"
    [(ngModel)]="tuFruta.peso"
    />
    <input type="number"
    size="5"
    placeholder="Coste tu fruta"
    [(ngModel)]="tuFruta.precio"/>
    <button class="btn btn-info">+Fruta </button>
</p>
Elije color lista:
<input type="hidden" #colorLista>
<button class="btn btn-success"
    (click)="colorLista.value='verde'"
>__ </button>
<button 
(click)="colorLista.value='amarillo'"
class="btn btn-warning">__ </button><br>
<ul *ngFor="let fruta of frutas" 
    [ngSwitch]="colorLista.value"
class="d-inline-flex ">
    <li *ngSwitchDefault 
    class="list-group-item "
    >
    <p> {{ fruta.nombre }}: {{fruta.precio}} € 
        <button class="btn btn-danger"
        (click)="quitarFrutaElegida(fruta)"
        >-x- </button>
    </p>
    </li>
    <li 
        *ngSwitchCase="'verde'" 
        class="list-group-item bg-success"
    >
        <p> {{ fruta.nombre }}: {{fruta.precio}} € 
            <button class="btn btn-danger"
            (click)="quitarFrutaElegida(fruta)"
            >-x- </button>
        </p>
    </li>
    <li *ngSwitchCase="'amarillo'" 
    class="list-group-item bg-warning"
    >
    <p> {{ fruta.nombre }}: {{fruta.precio}} € 
        <button class="btn btn-danger"
        (click)="quitarFrutaElegida(fruta)"
        >-x- </button>
    </p>
    </li>
</ul>

<p>Tambien se podria pintar un cada caso en funcion de alguna de l as propiedades de lista del objeto</p>
<h3>[ngStyle]</h3>
<p>pintado condicional color segun fruta.peso mayor que 5</p>
<ul *ngFor="let fruta of frutas"  
    class="list-unstyled d-inline-flex"
>
    <li [ngStyle]="{ 'color': getColor(fruta.peso), 'backgroundColor':'lightgrey' }"
        class="d-flex-row"
    >| {{ fruta.nombre }} |</li>
</ul> 
<br>

<h3 [ngClass]= "{ 'clase1': true }">[ngClass]</h3>
<br>
<hr>
<br><em>
asignamos a una variable de la vista(Padre)inicializada con el evento click el valor y 
se lo pasamos con property binding a nuestra directiva para recuperar con @input </em><br>
<p>   Selecciona color:</p>
<input type="radio" name="colores" (click)="color='green'">verde|
<input type="radio" name="colores" (click)="color='indigo'">indigo|
<input type="radio" name="colores" (click)="color='pink'">pink|
<div [appCambiarColor]= "color" >
    <h3>directiva Personalizada al hover eligiendo color desde vista</h3>
</div>
<br>
<hr>
